/* Fonts */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?fuehmd');
    src:  url('../fonts/icomoon.eot?fuehmd#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?fuehmd') format('truetype'),
        url('../fonts/icomoon.woff?fuehmd') format('woff'),
        url('../fonts/icomoon.svg?fuehmd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
    content: "\e994";
}

.icon-bin:before {
    content: "\e9ac";
}


/* Main Styles */
html {
    min-width: 300px;
    color: #f4f4f4;
    font-family: sans-serif;
    font-size: 62.5%;
    line-height: 1.5;
    overflow-x: hidden;
}

a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
}

.wallpaper {
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: url("../images/alexander-popov-hTv8aaPziOQ-unsplash.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.6;
    position: fixed;
}

.container {
    padding: 0 2.5rem;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h1 {
    padding: 3rem 0;
}

.success, .error {
    color: #fff;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}