:root {
    --red: #f73859;
    --light-gray: #dbedf3;
    --dark-gray: #404b69;
    --darker-gray: #283149;
    --text-color: #333333;
}

html {
    background: #fffbd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b20a2c, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b20a2c, #fffbd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--text-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%; /* 1rem = 10px */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    min-width: 300px;
    overflow: hidden;
    /* text-shadow: 0 3px 5px rgba(0, 0,0, 0.1); */
}



/* Utilities */
.mb {
    margin-bottom: 0.5rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-3 {
    margin-bottom: 3rem;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}


/* Calendar Setup */
.calendar-flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calendar--container {
    background-color: var(--light-gray);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    height: 50rem;
    width: 110rem;
}

.calendar-weather--layout {
    background-color: var(--red);
    padding: 3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calendar--layout {
    padding: 3rem;
    flex: 2;
}

.calendar-clock-layout {
    background-color: var(--red);
    padding: 3rem;
    flex: 1;
}


.calendar-heading--layout {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 3rem;
    font-weight: 700;
}

.calendar-months--layout {
    display: flex;
    border-bottom: 1px solid var(--red);
    padding-bottom: 0.5rem;
    justify-content: space-between;
    font-size: 1.5rem;
}

.calendar-months--layout div,
.calendar-month-days-list div,
.calendar-year--text,
.action--previous,
.action--next {
    cursor: pointer;
}

.calendar-year--text,
.action--previous,
.action--next {
    transition: color 300ms ease;
}

.calendar-year--text:hover,
.action--previous:hover,
.action--next:hover {
    color: var(--red);
}

.calendar-months--layout div.active {
    font-weight: 700;
}

.calendar-week-days-names--layout {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 1.8rem;
    padding-top: 0.5rem;
}


.calendar-today-button--action:hover {
    background-color: var(--light-gray);
    border-color: var(--red);
    color: #404b69;
}


.calendar-month-days-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    font-size: 1.6rem;
    text-align: center;
}

.calendar-month-days-list div {
    padding: 1.2rem 0;
    width: 5rem;
    height: 5rem;
    border: 1px solid transparent;
    transition: all 200ms ease;
}

.calendar-month-days-list div:hover:not(.active):not(.empty-cell) {
    background-color: #e7e7e7;
    border: 1px solid red;
}


.calendar-month-days-list div.active {
    background-color: var(--red);
    border: 1px solid var(--light-gray);
    color: #fff;
}

.calendar-month-days-list div.empty-cell {
    cursor: initial;
}


/* Flip Magic */
.flip-container {
    perspective: 1000;
}

.flip-container.hover .flipper, .flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.flip-container, .calendar-front-side, .calendar-back-side {
    width: 100%;
    height: 100%;
}

.flipper {
    height: 100%;
	transition: 400ms;
	transform-style: preserve-3d;
	position: relative;
}

.calendar-front-side, .calendar-back-side {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.calendar-front-side {
	z-index: 98;
}

/* back, initially hidden pane */
.calendar-back-side {
    transform: rotateY(180deg);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    gap: 1.5rem;
    font-size: 1.6rem;
}

.calendar-back-side div {
    border: 1px solid red;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 200ms ease;
}

.calendar-back-side div:hover {
    background-color: var(--red);
    color: #dbedf3;
}

/* Calender Events Section */
.calendar-events-list--container {
    height: 18rem;
    color: #fff;
    border-top: 1px solid #fff;
}

/*! handle navigator decline */
.calendar-events-list--container.inactive-weather-layout {
    height: 41rem;
    border: none;
}

.calendar-events-list--container p {
    font-size: 1.5rem;
}

.add-event-day--layout {
    border-bottom: 1px solid #fff;
    position: relative;
}

.add-event-day-field {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    color: #fff;
    height: 3rem;
    font-size: 1.5rem;
    padding-right: 4rem;
}

.add-event-day-field::placeholder {
    color: #fff;
    opacity: 0.7;
}

.add-event-day-field-btn--action {
    position: absolute;
    top: 3px;
    right: 0;
    font-size: 1.5rem;
    cursor: pointer;
}



/* Event List */
.event-list-heading {
    padding: 2.5rem 0 .5rem 0;
    font-weight: 700;
}

.event-list-item {
    padding: 0.2rem 0;
}

.event-list-item,
.event-list-item-not-found {
    font-size: 1.3rem;
}

.event-list-item:hover {
    text-decoration: line-through;
    opacity: 0.8;
    cursor: pointer;
    background-color: #d30a32;
}

.current-event-date {
    color: var(--text-color);
    margin-left: .4rem;
}


/* Today Button */
.calendar-today-button--action {
    display: inline-block;
    font-size: 1.4rem;
    padding: 0.3rem 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--red);
    color: #fff;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 200ms ease;
    cursor: pointer;
}