.weather-location {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: #ffffff;
    font-size: 2.2rem;
}

.weather-location-countryTag {
    font-weight: 700;
}

.weather-icon--container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-temperature-degree {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

.weather-description {
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
}

.weather-feels-like-text {
    margin-left: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
}