/*! Config */
:root {
    /* Page Colors */
    --body-bg-color:             #dcdcdc;
    --text-muted-color:          #777777;
    /* Widget Colors */
    --blue-side-color:            #3282b8;
    --active-month-color:        #171717;
    --month-color:               #868686;
    --week-color:                #737373;
    --day-color:                 #959595;
    --blue-event:                #1400c7;
    --year-and-next-month-color: #cccccc;
    /* Calendar Dimensions */
    --calendar-width:               84rem; 
    --calendar-height:              49rem;
    --calendar-left-side-width:     32rem;
    --calendar-right-side-width:    52rem;
    --padding-size:                 3rem;
}

/*! Fonts  */
@font-face {
font-family: 'icomoon';
src:  url('../fonts/icomoon.eot?24qvwa');
src:  url('../fonts/icomoon.eot?24qvwa#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?24qvwa') format('truetype'),
    url('../fonts/icomoon.woff?24qvwa') format('woff'),
    url('../fonts/icomoon.svg?24qvwa#icomoon') format('svg');
font-weight: normal;
font-style: normal;
font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.icon-circle-left:before    { content: "\ea44"; }
.icon-arrow-right2:before   { content: "\ea3c"; }
.icon-arrow-left2:before    { content: "\ea40"; }

.icon-arrow-left2,
.icon-arrow-right2 {
    vertical-align: middle;
    padding: 0 0.5rem;
}

/*! Main  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--body-bg-color);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 62.5%;
}

/*! Utilities */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-muted {
    color: var(--text-muted-color);
}

.cursor-pointer {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} 

/*! Main Styling */
.calendar {
    display: flex;
    background-color: #ffffff;
    width: var(--calendar-width);
    height: var(--calendar-height);

    border-radius: 1rem;
    overflow: hidden;

    font-size: 1.6rem;

    box-shadow: 0 .5rem .5rem 0 rgba(0, 0, 0, 0.3);
}

.calendar-right-side,
.calendar-left-side {
    padding: var(--padding-size);
    height: 100%;
}

/*! Left Side */
.calendar-left-side {
    width: var(--calendar-left-side-width);
    background-color: var(--blue-side-color);
}
.calendar-left-side-day-of-week,
.current-day-events-list {
    position: relative;
}
.calendar-left-side-day,
.calendar-left-side-day-of-week,
.current-day-events,
.add-event-day-field-btn {
    color: #fff;
}

.calendar-left-side-day-of-week {
    text-transform: uppercase;
}

.current-day,
.current-day-events {
    padding-top: 4rem;
}

.current-day-events {
    height: 21.5rem;
}

.current-day-events-list {
    padding-left: var(--padding-size);
    list-style-type: none;
}

.current-day-events-list li::before {
    content: '-';
    position: absolute;
    left: 3px;
}

h1.calendar-left-side-day {
    font-size: 9.2rem;
}

/* Input Events */
.add-event-day {
    border-bottom: 1px solid #fff;
    position: relative;
}

.add-event-day-field {
    border: none;
    background-color: transparent;
    height: 3.4rem;
    width: 100%;
    font-size: 1.6rem;
    color: #fff;
}

.add-event-day-field:focus {
    outline: none;   
}

.add-event-day-field::placeholder {
    color: var(--year-and-next-month-color);
}

.add-event-day-field-btn {
    position: absolute;
    right: 0;
    line-height: 3.4rem;
}

/*! Right Side */
.calendar-right-side {
    width: var(--calendar-right-side-width);
    font-size: 2rem;
}

.calendar-change-year-slider {
    margin: 1.5rem 0; /* padding-size / 2 */
    color: var(--week-color);
}

.calendar-current-year {
    vertical-align: middle;
}

.calendar-days,
.calendar-week,
.calendar-month {
    list-style-type: none;
    font-size: 0;
}

.calendar-days li,
.calendar-week li,
.calendar-month li {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 1.6rem;
}

.calendar-month li {
    width: calc(46rem / 12); /* (calendar-right-side-width - padding-size * 2) / 12 */
    height: 3rem;
    line-height: 3rem;
    color: var(--month-color);
    font-size: 1.3rem;
}

.calendar-month li.active {
    color: var(--active-month-color);
    font-weight: 600;
}

.calendar-days li {
    position: relative;
    width: calc(46rem / 7);
    height: 5rem;
    line-height: 5rem;
}


.calendar-days li:after {
    position: absolute;
    top: 0;
    left: 1.5rem;
    content: attr(data-day);
    color: var(--day-color);
    height: 4rem;
    line-height: 4rem;
    width: 4rem;
}

.calendar-days li.another-month:after {
    color: var(--year-and-next-month-color);
}

.calendar-days li:hover:after,
.calendar-days li.selected-day:after,
.calendar-days li.event-day:before,
.calendar-days li.active-day:after {
    border-radius: 50%;
}

.calendar-days li:hover:after,
.calendar-days li.selected-day:after {
    background-color: var(--year-and-next-month-color);
    color: #fff;
}

.calendar-days li.event-day:before {
    content: ' ';
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    background-color: var(--blue-event);
}

.calendar-days li.active-day:after {
    color: #fff;
    background-color: var(--blue-side-color);   
}

.calendar-week {
    margin-bottom: var(--padding-size);
    font-weight: 600;
    color: var(--week-color);
    border-top: 1px solid var(--year-and-next-month-color);
}

.calendar-week {
    display: flex;
    justify-content: space-around;
}

.calendar-week li {
    height: 3rem;
    line-height: 3rem;
}